# Server Configuration
PORT=8007
ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5438
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mydreamcampus_grades
DB_SSLMODE=disable

# RabbitMQ Configuration
RABBITMQ_URL=amqp://rabbitmq:rabbitmq@localhost:5672/

# Redis Configuration
REDIS_URL=localhost:6379

# JWT Configuration
JWT_SECRET=your-secret-key-change-in-production
