go 1.26

use (
	./services/attendance-service
	./services/auth-service
	./services/course-catalog-service
	./services/enrollment-service
	./services/grades-service
	./services/meal-service
	./services/payment-service
	./services/staff-service
	./services/student-service
	./shared
)
